<nav id="os-breadcrumb" aria-label="breadcrumb {{class|default('')}}" class="os-breadcrumb {{class|default('')}}">
  <ol class="breadcrumb os-breadcrumb__list">
    <li class="breadcrumb-item os-breadcrumb__item">
      <a href="{{ url('product_list') }}" class="os-breadcrumb__item--link">{{ 'front.product.all_category'|trans }}</a>
    </li>
    {% if breadcrumb is not null %}
      {% for Path in breadcrumb.path %}
        <li class="breadcrumb-item os-breadcrumb__item {% if loop.last %}active{% endif %}" {% if loop.last %} aria-current="page" {% endif %}>
          <a href="{{ url('product_list') }}?category_id={{ Path.id }}" class="os-breadcrumb__item--link">
            {{ Path.name }}
          </a>
        </li>
      {% endfor %}
    {% endif %}
    {% if search_form.vars.value and search_form.vars.value.name %}
      <li class="breadcrumb-item os-breadcrumb__item">
        {{ 'front.product.search_result__keyword'|trans({ '%name%': search_form.vars.value.name }) }}
      </li>
    {% endif %}
  </ol>
</nav>
