{% set Categories = repository('Eccube\\Entity\\Category').getList() %}

{% macro tree(Category) %}
  {% from _self import tree %}

  <a href="{{ url('product_list') }}?category_id={{ Category.id }}">
    {{ Category.name }}
  </a>
  {% if Category.children|length > 0 %}
    {% for ChildCategory in Category.children %}
      {{ tree(ChildCategory) }}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% from _self import tree %}

<div id="accordionMenu" class="accordion accordion-menu os-menu__mobile">
  <div class="menu-heading">
    {{ 'front.block.category.list'|trans }}
  </div>
  {% for Category in Categories %}
    <div class="card">
      <div class="card-header" id="headingMenu-{{ Category.id }}">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseMenu-{{ Category.id }}" aria-expanded="true" aria-controls="collapseMenu-{{ Category.id }}">
          {{ Category.name }}
          <i class="fas fa-minus"></i>
        </button>
      </div>
      <div id="collapseMenu-{{ Category.id }}" class="collapse accordion-content" aria-labelledby="headingMenu-{{ Category.id }}" data-parent="#accordionMenu">
        {{ tree(Category) }}
      </div>
    </div>
  {% endfor %}
</div>

